body {
    background-color: darkslategray;
    
}
.Portfolio{
    color: #f9004d;
    font-size: 35px;
    letter-spacing: 1px;
}
span{
    color: white;
}
.intro{
    color: white;
    }

.projects{
    color: azure;
}

h1{
    color: #f9004d;
}
p {
    color: white;
}

h2 {
    color: #f9004d;
}
.skills{
    color: white;
}
img{
    height: 500px;
    float: right;
}

