body {
    background-color: darkslategray;
    background-image: url(../Images/texture.jpeg);    
}
.Portfolio{
    color: #f9004d;
    font-size: 35px;
    letter-spacing: 1px;
}
span{
    color: white;
}
.intro{
    color: white;
    }

.projects{
    color: azure;
}

h1{
    color: cyan;
}
p {
    color: white;
}

h2 {
    color: cyan;
}
.skills{
    color: white;
}
img{
    height: 500px;
    width: 400px;
    float: right;
}
.skills{
    width: 200px;
    float: left;
    margin: 20px;
}

